footer {
  padding-block: 3rem;
  padding-inline: 1rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--color-stone);
  color: white;
}

footer h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 48px;
}

footer a {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  margin-block-start: 1.5rem;
}
