.main-form {
  padding: 1rem;
}

.formContainer {
  width: 100%;
  margin: auto;
}

.form {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
}

.formContainer input:not([type="checkbox"]) {
  width: 100%;
  padding: 8px 12px;
  border-radius: 6px;
  border-color: var(--color-gray700);
  border-width: 1px;
}

.formContainer input:not([type="checkbox"]):focus {
  border: 2px solid pink;
  outline: none;
}
.main-form h2 + p {
  margin-block-end: 2rem;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #17171c;
}

.form label {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 0.125em;
}

.infoText p:first-of-type,
.infoText p:nth-child(2) {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #111827;
}

.infoText p:nth-child(2) {
  color: #9ca3af;
}

.main-form label {
  margin-block-end: 4px;
}

.infoContainer {
  display: flex;
  flex-direction: column;
}
.infoContent {
  display: flex;
  gap: 10px;
  margin-block-start: 8px;
}

form button {
  grid-column: 1/-1;
  padding: 14px;
  border: none;
  color: white;
  border-radius: 8px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
}

@media screen and (min-width: 768px) {
  .formContainer {
    width: 640px;
  }
}
