header {
  background-color: var(--color-gray100);
  padding: 1rem;
}

.headerContainer {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

nav {
  display: none;
  /* justify-content: ; */

  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* gap: 40px; */
  gap: 1rem;
  width: 100%;
  transition: all 0.3s;
}

nav ul {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  gap: 1.5rem;
  padding: 0;
  margin: 0;
}

nav ul li {
  list-style: none;
  line-height: 1.5rem;
  font-weight: 500;
  font-style: normal;
}

nav a {
  text-decoration: none;
}

.headerContainer a:last-of-type {
  display: block;
  width: 100%;
  text-align: center;
  margin-block-start: 20px;
}

@media screen and (min-width: 500px) {
  nav {
    display: flex;
    width: auto;
  }
  .headerContainer ul {
    flex-direction: row;
  }
  .headerContainer a:last-of-type {
    width: auto;
  }
}

@media screen and (min-width: 768px) {
  .headerContainer {
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
  }
}
